<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}Nick Hesemans</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--    favicon-->
    <link rel="icon" type="image/png" href="/public/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/public/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Nick Hesemans - Portfolio" />
    <link rel="manifest" href="/public/favicon/site.webmanifest" />
</head>
<body class="latte bg-ctp-base text-ctp-text
    flex flex-col min-h-screen {# Keep footer at bottom of the page #}
">
<header>
    {% include "partials/navbar" %}
</header>

<main class="container mx-auto p-4
    grow {# Keep footer at bottom of the page #}
">
    {% block content %}{% endblock %}
</main>

<footer>
    {% include "partials/footer" %}
</footer>
</body>
</html>