<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}Nick Hesemans</title>
    <link rel="stylesheet" href="/public/css/tailwindcss.css">
</head>
<body class="latte bg-ctp-base">
<header>
    {% include "partials/navbar" %}
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>